.wrap {
  width: 100vw;
  position: relative;
}

/* DELETE */

.warning {
  font-size: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}

.warning span {
  background-color: #fdf6f5;
  color: red;
}

.wave {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* ^ DELETE ^ */

.landing-container {
  height: 800px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.landing-container p {
  color: #fdf6f5;
}

.landing-container p:nth-child(1) {
  font-size: 52px;
  letter-spacing: 5px;
  margin-bottom: -35px;
}

.landing-container p:nth-child(2) {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 2px;
}

@media (min-width: 0px) {
  .landing-container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .landing-container {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .landing-container {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .landing-container {
    width: 70%;
  }
}

@media (min-width: 1920px) {
  .landing-container {
    width: 60%;
  }
}
