.wrap {
  width: 100vw;
  position: relative;
}

.wave {
  position: absolute;
  height: auto;
  bottom: -1px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.landing-container p {
  color: #fdf6f5;
}

.landing-container p:nth-child(1) {
  letter-spacing: 5px;
}

.landing-container p:nth-child(2) {
  font-weight: bold;
  letter-spacing: 2px;
}

@media (min-width: 0px) {
  .landing-container {
    width: 90%;
    height: 500px;
  }
  .landing-container p:nth-child(1) {
    text-shadow: 1px 0px 20px #8a5151;
    font-size: 38px;
    margin-bottom: -27px;
  }
  .landing-container p:nth-child(2) {
    text-shadow: 1px 0px 20px #8a5151;
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .landing-container {
    width: 90%;
    height: 800px;
  }
  .landing-container p:nth-child(1) {
    font-size: 52px;
    margin-bottom: -35px;
    text-shadow: none;
  }
  .landing-container p:nth-child(2) {
    font-size: 80px;
    text-shadow: none;
  }
}

@media (min-width: 1024px) {
  .landing-container {
    width: 70%;
    height: 520px;
  }
}

@media (min-width: 1440px) {
  .landing-container {
    width: 70%;
    height: 666px;
  }
}

@media (min-width: 1920px) {
  .landing-container {
    width: 60%;
    height: 800px;
  }
}
