.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
}

.header-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1999;
}

.header-item {
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  z-index: 2000;
  text-transform: uppercase;
}

.header-content > a:hover {
  color: #e88073;
}

@media (min-width: 0px) {
  .header {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-content {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .header-content {
    width: 57%;
  }
}
