.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.container:not(:nth-child(1)) {
  margin-bottom: 60px;
}

#bazars {
  margin-bottom: 0;
}

#par {
  margin-bottom: 0;
}

#komanda {
  margin-bottom: 10px;
}

.container:not(:nth-child(1)) {
  margin-top: -70px;
  padding-top: 70px;
}

section:nth-child(1) {
  background-image: url("bg.jpg") !important;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 0px) {
  section:nth-child(1) {
    /* background: url("bg.jpg"); */
  }
}

@media (min-width: 768px) {
  section:nth-child(1) {
    background: none !important;
    background-image: url("bg.jpg") !important;
    background-position-y: -300px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
  section:nth-child(1) {
    background-position-y: -100px;
  }
}

@media (min-width: 1920px) {
  section:nth-child(1) {
    background-position-y: -170px;
  }
}

.section-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bazars .section-content:before {
  content: "";
  position: absolute;
  background-color: white;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

@media (min-width: 0px) {
  .section-title {
    width: 90%;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .section-description {
    width: 90%;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
  }
  .section-content {
    width: 90%;
  }
  #bazars .section-content {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .section-title {
    width: 90%;
    font-size: 22px;
    margin-bottom: 25px;
  }
  .section-description {
    width: 90%;
    margin-bottom: 25px;
    font-size: 18px;
    text-align: justify;
  }
  .section-content {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .section-title {
    width: 80%;
  }
  .section-description {
    width: 80%;
    margin-bottom: 50px;
  }
  .section-content {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .section-title {
    width: 70%;
  }
  .section-description {
    width: 70%;
  }
  .section-content {
    width: 70%;
  }
  #bazars .section-content {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 1920px) {
  .section-title {
    width: 60%;
  }
  .section-description {
    width: 60%;
  }
  .section-content {
    width: 60%;
  }
}
