* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Manrope;
  color: #272727;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-width: 500px;
  scroll-behavior: smooth;
}

.underline {
  text-decoration: underline;
}

.line {
  color: #e88073;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}
