.episode-item {
  padding: 50px 20px 50px 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 5px 20px 5px 20px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episode-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

.episode-item .number {
  z-index: 9;
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 80px;
  font-weight: 600;
  color: #e6e6e694;
}

.rubric-image {
  z-index: 10;
  border-radius: 100%;
  position: relative;
  margin-bottom: 15px;
  width: calc(100% - 130px);
}

.episode-item h3 {
  line-height: 2ex;
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.details-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 2px solid #e88073;
  transition: 0.2s;
  cursor: pointer;
}

.details-button:hover {
  background-color: #e88073;
  color: #fff;
}

@media (min-width: 0px) {
  .episode-description {
    -webkit-line-clamp: 10;
  }
}

@media (min-width: 800px) {
  .episode-description {
    -webkit-line-clamp: 7;
  }
}

@media (min-width: 1600px) {
  .episode-description {
    -webkit-line-clamp: 6;
  }
}

/* .react-multiple-carousel__arrow--right {
  right: -40px;
}

.react-multiple-carousel__arrow--left {
  left: -40px;
} */
