.episode-item {
  padding: 50px 25px 40px 25px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 5px 20px 5px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.episode-description {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.episode-item .number {
  z-index: 9;
  position: absolute;
  top: 5px;
  left: 27px;
  font-weight: 600;
  color: #ececec94;
  font-size: 86px;
}

.rubric-image {
  z-index: 10;
  border-radius: 100%;
  position: relative;
  margin-bottom: 5px;
  width: 100px;
}

.title {
  color: #1e1e1e;
  line-height: 2ex;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  z-index: 100;
}

.social-media {
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.social-media-container {
  width: 45%;
}

.social-media.spotify {
  margin: 0 5px 0 0;
}

.react-multiple-carousel__arrow {
  background-color: #ddd6d590 !important;
}

.react-multiple-carousel__arrow:hover {
  background-color: #e88073 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0px;
}

.react-multiple-carousel__arrow--left {
  left: 0px;
}

@media (min-width: 0px) {
  .episode-description {
    font-size: 14px;
    line-height: 1.5;
  }
  .title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .episode-description {
    font-size: 15px;
  }
  .title {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .social-media:hover {
    filter: brightness(1.1);
  }
  .title {
    font-size: 18px;
  }
}
