.about-container {
  text-align: justify;
}

.about-image {
  border-radius: 25px;
}

@media (min-width: 0px) {
  .about-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .about-image {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
  }
}

@media (min-width: 768px) {
  .about-container {
    font-size: 18px;
  }
  .about-image {
    width: auto;
    height: 250px;
    margin: 0 20px 0 0;
  }
  .first-two-rows {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .about-container {
    font-size: 16px;
  }
  .about-image {
    height: 125px;
  }
}

@media (min-width: 1440px) {
  .about-container {
    font-size: 18px;
  }
  .about-image {
    height: 150px;
  }
}
