.person-item {
  background-color: #fff;
  height: 25%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 0 50px 0;
}

.person-image {
  width: 40%;
  aspect-ratio: 1 / 1;
  max-height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.person-description {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}

[data-status="false"] {
  opacity: 0.6;
}

@media (min-width: 0px) {
  .person-item {
    width: 100%;
    border-radius: 45px;
  }
  .person-description {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .person-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  .person-description {
    font-size: 14px;
  }
  .person-item {
    border-radius: 40px;
  }
}

@media (min-width: 1440px) {
  .person-item {
    width: calc(100% / 3 - 40px);
    border-radius: 45px;
  }
  .person-description {
    font-size: 16px;
  }
}
