* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Manrope;
    color: #272727;
}

.owl-carousel {
    
}

body {
    min-width: 500px;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

#landing {
    height: 100vh;
    background-color: #EFE8E1;
}

#news, #episodes {
    margin-top: 100px;
}

#team, #bazars {
    margin-top: 50px;
}

.section-title {
    font-size: 22px;
    margin-bottom: 50px;
}

.section-description {
    margin-bottom: 50px;
    font-size: 18px;
}

/* header */

.not-fixed {
    width: 57%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px 15px 30px;
    position: absolute;
    top: 10%;
}

.fixed {
    position: fixed;
    background-color: #E88073;
    border-radius: 25px;
    z-index: 20;
    margin-top: 15px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.fixed a {
    color: #fff;
}

header a:nth-child(3) {
    font-weight: 800;
}

header a {
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
    color: #757575;
}

.fixed a:hover {
    transform: scale(1.025);
    color: #EFE8E1;
}

.not-fixed a:hover {
    transform: scale(1.025);
    color: #E88073;
}

/* newest episode */

.newest-episode-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.newest-episode {
    height: 240px;
    width: 100%;
}

.newest-episode-container span {
    margin: 5px;
    color: #757575;
}

.newest-episode-container h4 {
    text-align: justify;
    font-size: 18px;
    font-weight: 800;
    color: #757575;
    margin-bottom: 5px;
}

.newest-episode-container p {
    text-align: justify;
    color: #757575;
}

/* episodes */

@media (min-width: 0px) {
    .episode-container-1 {
        width: 90%;
    }
    .section-title {
        width: 90%;
    }
    .episode-description {
        -webkit-line-clamp: 10;
    }
}

@media (min-width: 800px) {
    .episode-container-1 {
        width: 80%;
    }
    .section-title {
        width: 80%;
    }
    .episode-description {
        -webkit-line-clamp: 7;
    }
}

@media (min-width: 1600px) {
    .episode-container-1 {
        width: 57%;
    }
    .section-title {
        width: calc(57%);
    }
    .episode-description {
        -webkit-line-clamp: 6;
    }
}
    
.owl-item {
    opacity: 0;
    transition: opacity 0.4s;
}

.owl-item.active {
    opacity: 1;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 5px;
}

.episode-container-1 {
    height: 100%;
}

.episode-item {
    height: 100%;
    padding: 50px 20px 80px 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 30px;
    margin: 20px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episode-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 30px;
}

.episode-item h2 {
    z-index: 9;
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 80px;
    font-weight: 600;
    color: #e6e6e694;
}

.rubric-image {
    z-index: 10;
    border-radius: 100%;
    height: 50%;
    position: relative;
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 15px;
}

.episode-item h4 {
    line-height: 2.0ex;
    height: 6ex;
    margin-top: 0px;
    font-size: 20px;
    color: #1e1e1e;
    margin-bottom: 10px;
}

.details-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    width: 40%;
    bottom: 35px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    background-color: #fff;
    border: 2px solid #E88073;
    transition: 0.2s;
}

.details-button:hover {
    background-color: #E88073;
    color:#fff;
}

/* team */

@media (min-width: 0px) {
    .person-container {
        width: 90%;
        height: 90%;
    }
    .person-item {
        width: 100%;
    }
    .section-description {
        width: 90%;
    }
}

@media (min-width: 800px) {
    .person-container {
        width: 80%;
    }
    .person-item {
        width: calc(50% - 20px);
    }
    .section-description {
        width: 80%;
    }
}

@media (min-width: 1600px) {
    .person-container {
        width: 57%;
    }
    .person-item {
        width: calc(100% / 3 - 40px);
    }
    .section-description {
        width: 57%;
    }
}

.person-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person-container::after {
    height: 0;
    width: 30%;
    content: "";
}

.person-item {
    background-color: #fff;
    height: 25%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 45px;
    display: flex;
    margin: 0 0 50px 0;
}

.person-image {
    width: 40%;
    height: 40%;
    border-radius:inherit;
}

.person-description {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

/* contact form */
  
.contact-form:before {
    content: "";
    position: absolute;
    background-color: white;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
  
form {
    z-index: 10;
    overflow: hidden;
    position: relative;
}
  
textarea.input {   
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    overflow-y: auto;
    resize: vertical;
}
  
.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
  
.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}
  
.btn {
    padding: 0.6rem 1.3rem;
    width: 20%;
    background-color: #fff;
    border: 2px solid #E88073;
    font-size: 0.95rem;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 100px;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #E88073;
    color:#fff;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
  
.input-container span:before,
.input-container span:after {
    position: absolute;
    width: 20%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
}
  
.input-container span:before {
    left: 50%;
}
  
.input-container span:after {
    right: 50%;
}
  
.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}
  
.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}

.input-container {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}
  
.input {
    outline: none;
    border: 1px solid #E3E3E3;
    background: #F9F9F9;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 15px;
    transition: 0.3s;
}

@media (min-width: 0px) {
    .contact-form { 
        width: 90%;
    }
    .row {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .row2 {
        display: flex;
        justify-content: space-between;
    }
    .input {
        width: 100%;
    }
    .third-small:nth-child(2) {
        width: calc(30% - 10px);
    }
    .third-big {
        width: calc(70% - 10px);
    }
}

@media (min-width: 800px) {
    .contact-form { 
        width: 80%;
    }
    .row {
        flex-direction: row;
        justify-content: space-between;
    }
    .row2 {
        display: contents;
    }
    .row:nth-child(1) .half:nth-child(1) {
        margin-right: 20px;
    }
    .third-small:nth-child(2) {
        width: calc(25% - 10px);
    }
    .third-small {
        width: calc(25% - 10px);
    }
    .third-big {
        width: calc(50% - 20px);
    }
    .half {
        width: 50%;
    }
    .full {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .contact-form {
        width: 57%;
    }
}

/* footer */

.footer {
    background-color: #EFE8E1;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 {
    padding: 5px;
    width: 100%;
    background-color: #efe8e142;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer2 p {
    color: #757575;
}

/* other */

.underline {
    text-decoration: underline;
}

.line {
    color: #E88073;
}

.hide {
    display: none;
}
