.news-item {
  text-align: right;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 5px 20px 5px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
}

.news-item > div {
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.news-image {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  object-fit: cover;
  height: auto;
}

.news-text {
  text-align: justify;
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 30px; */
}

.news-title {
  line-height: 2ex;
  margin: 10px 0 15px 0;
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
}

.news-date {
  font-style: italic;
}

@media (min-width: 0px) {
  .news-image {
    width: 40%;
  }
}

@media (min-width: 800px) {
  .news-image {
    width: 40%;
  }
}

@media (min-width: 1600px) {
  .news-image {
    width: 40%;
  }
}
