.news-item {
  padding: 50px 20px 80px 20px;
  text-align: right;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}

.news-items > div {
  display: flex;
  flex-direction: column;
}

.news-image {
  z-index: 10;
  border-radius: inherit;
  object-fit: cover;
  float: right;
  height: 100%;
  width: auto;
  margin-left: 15px;
  height: 400px;
  width: 400px;
}

.news-description {
  text-align: justify;
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 30px; */
}

.news-item h2 {
  z-index: 9;
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 80px;
  font-weight: 600;
  color: #e6e6e694;
}

.news-item h4 {
  line-height: 2ex;
  height: 6ex;
  margin-top: 0px;
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 10px;
}

.details-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  width: 40%;
  bottom: 35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 2px solid #e88073;
  transition: 0.2s;
}

.details-button:hover {
  background-color: #e88073;
  color: #fff;
}

@media (min-width: 0px) {
  .news-image {
    width: calc(100% / 4);
  }
}

@media (min-width: 800px) {
  .news-image {
    width: calc(100% / 6);
  }
}

@media (min-width: 1600px) {
  .news-image {
    width: calc(100% / 7);
  }
}

@media (min-width: 0px) {
  .news-description {
    -webkit-line-clamp: 10;
  }
}

@media (min-width: 800px) {
  .news-description {
    -webkit-line-clamp: 7;
  }
}

@media (min-width: 1600px) {
  .news-description {
    -webkit-line-clamp: 6;
  }
}
