.news-item {
  text-align: right;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 5px 20px 5px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
}

.news-item > div {
  padding: 45px 40px 45px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.news-image {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  object-fit: cover;
  height: auto;
}

.news-text-container {
  text-align: justify;
  overflow-y: auto;
  direction: rtl;
}

.news-text {
  direction: ltr;
  font-size: 18px;
}

.news-title {
  line-height: 2ex;
  margin: 10px 0 15px 0;
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
}

.news-date {
  font-style: italic;
  color: #686868;
}

::-webkit-scrollbar {
  width: 17px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media (min-width: 0px) {
  .news-image {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .news-image {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .news-image {
    width: 40%;
  }
}
