@media (min-width: 0px) {
  .about-bazars {
    width: 100%;
    font-size: 18px;
    margin-bottom: 70px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
  .about-bazars {
    margin-left: 15px;
  }
}
