.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  border-top: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.socials img {
  height: 17px;
}

.footer-2 {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e3e3e3;
}

.renate {
  font-size: 16px;
  color: #757575;
  text-decoration: none;
}

.renate span {
  color: #757575;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.renate span:hover {
  color: #e88073;
}

.socials-a span {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-a span:hover {
  color: #e88073;
}

.footer-1 {
  padding: 10px;
  display: flex;
  align-items: center;
}

.socials-a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.socials-title {
  color: #757575;
  margin-left: 5px;
}

.socials-container {
  display: flex;
}

.socials-column-1 {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.socials-column-2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.socials {
  margin: 10px 0px 0px 10px;
}

.contact-container p {
  color: #757575;
}

.contact-img {
  width: 17px;
  margin-right: 5px;
}

.contact {
  display: flex;
  flex-direction: row;
}

.email.contact {
  margin: 5px 0px 10px 0px;
}

.footer-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 0px) {
  .footer-1 {
    width: 90%;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer-container {
    width: 90%;
  }
  .footer-2 {
    width: 50%;
  }
  .socials-column-2 {
    margin-right: 0px;
  }
  .contact-container {
    margin-left: 0px;
    border-bottom: 1px solid #e3e3e3;
  }
  .address.contact {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .footer-1 {
    width: 80%;
    text-align: left;
    flex-direction: row;
  }
  .footer-container {
    width: 80%;
  }
  .footer-2 {
    width: 35%;
  }
  .socials-column-2 {
    margin-right: 45px;
  }
  .contact-container {
    margin-left: 45px;
    border-bottom: none;
  }
  .address.contact {
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .footer-1 {
    width: 70%;
  }
  .footer-container {
    width: 70%;
  }
  .footer-2 {
    width: 25%;
  }
}

@media (min-width: 1440px) {
  .footer-1 {
    width: 60%;
  }
}

@media (min-width: 1920px) {
  .footer-1 {
    width: 60%;
  }
  .footer-container {
    width: 60%;
  }
  .footer-2 {
    width: 15%;
  }
}
