.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  height: auto;
  background-color: #fff7f5;
}

.footer-1-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-1 {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 25px 0;
}

/* .footer-wave {
  position: absolute;
  width: 100vw;
  z-index: -1;
} */

.footer-socials img {
  width: 50px;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.footer-2 {
  padding: 10px 0 10px 0;
  background-color: #fef6f4;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.renate {
  font-size: 18px;
  color: #757575;
  text-decoration: none;
}

.footer-socials a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer-socials a span {
  display: flex;
  justify-content: center;
  color: #757575;
  position: absolute;
  top: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 16px;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-socials a:hover span {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

@media (min-width: 0px) {
  .footer-1 {
    width: 90%;
  }
}

@media (min-width: 768px) {
  /* .footer-1 {
    width: 90%;
  } */
  .footer-socials img:hover {
    filter: brightness(1.1);
    transform: scale(1.075);
  }

  .footer-1 {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .footer-1 {
    width: 70%;
  }
  .footer-socials {
    display: flex;
    -ms-transform: translate(-0%);
    -webkit-transform: translate(-0%);
    transform: translate(-0%);
  }
}

@media (min-width: 1440px) {
  .footer-1 {
    width: 60%;
  }
}

@media (min-width: 1920px) {
  .footer-1 {
    width: 50%;
  }
}
