.landing-button {
  background-color: transparent;
  border: 2px solid #fdf6f5;
  border-radius: 15px;
  cursor: pointer;
  color: #fdf6f5;
}

.landing-button:hover {
  background-color: #fdf6f5;
  color: #e88073;
}

.landing-button:hover:after {
  opacity: 1;
  right: 10px;
}

.landing-button {
  text-align: center;
  transition: all 0.5s;
}

.landing-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.landing-button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.landing-button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

@media (min-width: 0px) {
  .landing-button {
    width: 228px;
    height: 70px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .landing-button {
    width: 300px;
    font-size: 24px;
  }
}
