.newest-episode-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.newest-episode {
  height: 240px;
  width: 100%;
}

.newest-episode-container span {
  margin: 5px;
  color: white;
}

.newest-episode-container p {
  text-align: justify;
  color: white;
}
